trunk/ireon_client/data/proto/zones.xsd

<?xml version="1.0"?>

<xsd:schema
		targetNamespace="http://www.ireon.org/ireon/client/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:cfg="http://www.ireon.org/ireon/client/" >

	<xsd:element name="zones" type="cfg:CPCZones" />

	<xsd:complexType name="CPCZones">
		<xsd:sequence>
			<xsd:element name="zone" type="xsd:string" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>