trunk/ireon_client/data/proto/mobs/mob.xsd

<?xml version="1.0"?>

<xsd:schema
		targetNamespace="http://www.ireon.org/ireon/client/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:cfg="http://www.ireon.org/ireon/client/" >

	<xsd:element name="mob" type="cfg:CPCMob" />

	<xsd:complexType name="CPCMob">
	<xsd:all>
		<xsd:element name="name"  type="xsd:string" minOccurs="0" default="unnamed"/>
		<xsd:element name="mesh"  type="xsd:string" minOccurs="0" default="cube.mesh"/>
		<xsd:element name="scale" type="xsd:string" minOccurs="0" default="-1 1 -1"/>
	</xsd:all>				
	</xsd:complexType>

</xsd:schema>